<!doctype html>
<html lang="en" ng-app="restifyvote">
<head>
	<title>Voting</title>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/bootstrap-theme.min.css" rel="stylesheet">
	<script src="js/angular.min.js"></script>
	<script src="js/angular.timer.js"></script>
</head>
<body>

	<div class="container" role="main" ng-controller="MainController">
		<div class="row">
				
			<div class="col-md-12" ng-if="!start">Not Started yet</div>
			<div class="col-md-12" style="text-align:center" ng-if="start"><!---->
				<h3>Vote Now! <span>Started - <timer interval="1000" countdown="60">{{minutes}}:{{seconds}}</timer></span></h3>			
				<table class="table" style="text-align:center;">
					<tr>
						<td ng-repeat="player in rootRef.player_information">
							<h4>{{player.first_name}} {{player.last_name}} ({{player.votes}})</h4><br />
							<img width="96px" height="96px" src="{{player.img}}" alt="{{player.id}}" title="{{player.first_name}}">

							<br />
							<p>HP: {{player.health}}<br />District: {{player.district}}<br />Location: {{player.location.latitude}}, {{player.location.longitude}}</p>
							<button class="btn btn-default" ng-click="voteplayer($index)">Vote</button><!--ng-disabled="{{!start}}"-->
						</td>
					</tr>
				</table>
				<table class="table" style="text-align:center">
					<tr>
						<td ng-repeat="attack in rootRef.attack_methods">
							<h4>{{attack.name}} ({{attack.votes}})</h4>
							<img width="96px" height="96px" src="img/{{attack.name}}.png"><br />
							<button class="btn btn-default" ng-click="voteattack($index)">Vote</button><!--ng-disabled="{{!start}}"-->
						</td>
					</tr>
				</table>				
				
			</div>


		</div>
	</div>

	<!-- Placed at the end of the document so the pages load faster -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="https://cdn.firebase.com/js/client/1.0.6/firebase.js"></script>
	<!-- AngularFire Plugin -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.7.0/angularfire.min.js"></script>
	<script src="js/main.js"></script>
	
</body>
</html>